
ghost/master/yaya_variable.cfg
ghost/master/profile/
shell/master/profile/
/shell/cavatappi_zi
/shell/conchiglie_zi
/shell/farfalle_zi
/shell/gourmet_ravioli_zi
/shell/macaroni_zi
/shell/penne_zi
/shell/rotini_zi
